<html>
	<head><title>Ghita's Page</title></head>
	<body style="text-align: center;">
	<h1>Goog day Ghita !</h1>
	<h3>This is a test site</h3>
	Here I'll experience some HTML commands to learn the basics of web development.
	<h3>Here is my photo</h3>
	this photo is from 5 years ago<br/>
	<img src="/static/ghita.png"><br/>
	<h3>send me a message :</h3>
	<form>
		subject : <input name="subject"/> <br/>
		message <textarea name="message"></textarea> <br/>
		<input type="submit" value="send">
	</form>
	</body>
</html>